
<section class="HomeBanner">
    <div nz-row>
        <div nz-col nzSpan="24" [nzSm]="24" [nzXs]="24" [nzMd]="24">
            <div class="banner-heading-top">
                <h1>Transparent. Unbiased. Efficient.</h1>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container">
        <div nz-row>
            <div nz-col [nzLg]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzXs]="{ span: 24 }">
                <div class="heading">
                    <p>
                        Think financial planning and all you get is insurance agents, mutual funds agents, and relationship managers selling you
                        the commission laded products without understanding your goals and risk profile. If you try to Do IT YOURSELF, you get
                        countless opinions from family, friends, and social media. Fee-only planners either charge a high flat fee or charge a
                        percentage of assets under advice.
                    <span class="d-block"><strong>At PLNR, we`re challenging all that.</strong></span>
                    <span class="d-block">We take care of risk profiling, goal planning, asset allocation, product selection, tax efficiency, and rebalancing, 
                    all at a very affordable fee. Plus, we take care of it in a transparent and unbiased way.</span>
                    <strong>So, you never have to worry about your finances anymore.</strong>
                    </p>
                </div>
            </div>

        </div>
    </div>


</section>
<section class="team">
    <div nz-row>
        <div nz-col [nzLg]="{ span: 24, offset: 0 }" [nzMd]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
            <h2>Our <span>Vision</span></h2>
            <p class="inc__text">We have the vision to touch 1 Lakh lives through our financial planning services.</p>
        </div>
    </div>

    <div nz-row class="mt-50">
        <div nz-col [nzLg]="{ span: 24, offset: 0 }" [nzMd]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
            <h2>Our <span>Mission</span></h2>
            <p class="inc__text">We're on a mission to make financial planning simple and affordable.</p>
        </div>
    </div>
 
</section>
<section class="team-people" id="team">
    <div class="container">
        <div nz-row>
            <div nz-col nzSpan="24">
                <div class="section-heading">
                    <h2>Meet <span>The Team</span></h2>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzLg]="{ span: 24 }" [nzXs]="{ span: 24 }">
                <img src="assets/images/avatar-founder.jpg" alt="Barret Blondeau" />
                <h3>Ajay Pruthi </h3>
                <p>Founder</p>
                <p>K. J. Somaiya Institute of Management, NIT Jalandhar</p>
                <p>SEBI RIA, CFPCM, Associate of Insurance Institute of India (AIII)</p>
                <p>15+ years of experience in personal financial planning space</p>
                <p>Experience in handling 500+ fee-only financial planning clients</p>
            </div>
            <!-- <div nz-col [nzLg]="{ span: 6 }" [nzXs]="{ span: 24 }">
        <img src="/assets/images/team/knox_nunn@2x.png" alt="Knox Nunn" />
        <h3>Knox Nunn</h3>
        <p>COO</p>
      </div> -->
            <!-- <div nz-col [nzLg]="{ span: 6 }" [nzXs]="{ span: 24 }">
                <img src="assets/images/john.jpg" alt="Barret Blondeau" />
                <h3>Ajay Pruthi </h3>
                <p>CO Founder</p>
            </div>
            <div nz-col [nzLg]="{ span: 6 }" [nzXs]="{ span: 24 }">
                <img src="assets/images/john.jpg" alt="Barret Blondeau" />
                <h3>Ajay Pruthi </h3>
                <p>CTO</p>
            </div>
            <div nz-col [nzLg]="{ span: 6 }" [nzXs]="{ span: 24 }">
                <img src="assets/images/john.jpg" alt="Barret Blondeau" />
                <h3>Ajay Pruthi </h3>
                <p>CFO</p>
            </div> -->
        </div>
    </div>
</section>