<section class="home-section pricing-sec">
    <div class="bg-layer"></div>
    <div class="container">
        <div nz-row class="headings">
            <div nz-col nzSpan="24">
                <h2>Our <span>Services</span></h2>
                <p>
                    We offer comprehensive financial planning at a flat fixed fee. We do not charge differential fee based on your net worth
                    or residential status. Our fee is 50% less than our counterparts in the fee-only financial planning business.
                </p>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzMd]="{ span: 8, offset: 8 }"
                [nzLg]="{ span: 8, offset:8 }" class="mobile_scroll">
                <div class="card best_value">
                    <p class="value_text">Best Value</p>
                    <div class="icon-img">
                        <img class="list-img" src="assets/images/services.png" alt="professional" />
                    </div>
                    <h3>Comprehensive Financial Planning</h3>
                    <p>Flat Fixed Fee</p>
                    <h2>Rs. 11,000</h2>
                    <p class="price-des">per year</p>
                    <button nz-button nzType="primary" class="buttons">
                        <a [routerLink]="['/get-in-touch']" routerLinkActive="router-link-active" >Contact Us</a>
                    </button>
                    <ul>
                        <li>Risk Profiling</li>
                        <li>Review of existing assets and liabilities</li>
                        <li>Counselling for removing unproductive assets</li>
                        <li>Assessment of Financial Goals (retirement, child education, housing, vacation, vehicle etc)
                        </li>
                        <li>Prioritization of Financial Goals</li>
                        <li>Goal Affordability</li>
                        <li>Goal-based Investment Advice</li>
                        <li>Customized Asset Allocation</li>
                        <li>Detailed Investment Plan (including mutual funds)</li>
                        <li>Investment in Mutual Fund Direct Plans</li>
                        <li>Review of Existing Life Insurance products (ULIPs/LIC etc)</li>
                        <li>Review of existing Health and Disability Insurance</li>
                        <li>Insurance Adequacy Assessment</li>
                        <li>Life/Health/Disability Insurance Strategy & Recommendation</li>
                        <li>Tax efficient products</li>
                        <li>Consultation for 1 year</li>
                        <li>Review after 6 months</li>
                        <li>Mode of Delivery: Online</li>
                        <li>Estimated Delivery Time: 10-15 Days</li>
                    </ul>
                    <small>*We do not accept clients having net worth of more than 3 Crores.</small>
                    <p class="net-worth"> *Net Worth = Net Assets (other than self-occupied home) - Net Liabilities</p>
                </div>
            </div>

        </div>
    </div>
</section>