<div nz-row>
    <div nz-col [nzLg]="{ span: 10, offset: 0 }" [nzXs]="{ span: 0, offset: 0 }">
      <div class="sign-banner in">
        <div class="overlay-black">
          <div class="sign-logo" [routerLink]="'/'">
            <img src="/assets/images/footer-logo.png" alt="Logo" width="" height=""  /> 
          </div> 
          <div class="heading">
            <h3>Real Estate <span>Redefined.</span></h3>
            <p>Sell your house for a low fixed cost.</p>
          </div>
        </div>
      </div>
    </div>
    <div nz-col [nzLg]="{ span: 14, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }">
      <div class="vfull-hight">
        <!-- <div class="sign-float-btn">
          <span> Don't have an account?</span>
          <button *ngIf="!loginFromModal" nz-button nzShape="round" [routerLink]="['/signup']" nzType="default" id="sign_up">
            Sign Up
          </button>
         
        </div> -->
        <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle" class="sign-in-outer-div">
          <div nz-col [nzLg]="{ span: 6, offset: 0 }" [nzXs]="{ span: 0, offset: 0 }"></div>
          <div nz-col [nzLg]="{ span: 12, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }" class="sign-in-content">
            <div class="header">
              <!-- <img  src="https://d1um67fy76m42o.cloudfront.net/assets/images/arrow-right.svg" alt="arrow-right">
              <img routerLink="/" src="https://d1um67fy76m42o.cloudfront.net/assets/images/unlokd-dark-logo.png" alt="unlokd-dark-logo"> -->
            </div>
            <div class="signup-modal-form">
              <div class="heading">
                <h1>Sign In</h1>
              </div>
              <form nz-form [nzLayout]="'vertical'" [formGroup]="loginForm" class="sign-form validate-form">
                <nz-form-item>
                  <nz-form-label nzNoColon nzFor="email">Email Address</nz-form-label>
                  <nz-form-control [ngClass]="{
                        error: formSubmit && loginForm.controls['email'].invalid
                      }">
                    <input nz-input formControlName="email" id="email" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label nzNoColon nzFor="password">Password</nz-form-label>
                  <nz-form-control [ngClass]="{
                        error:
                          formSubmit && loginForm.controls['password'].invalid
                      }">
                    <input nz-input type="password" id="password" formControlName="password" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="btn-area">
                  <nz-form-control>
                    <button nz-button nzBlock nzSize="large" nzShape="round" nzType="primary"  nz-button [disabled]="isLoading" id="login" (click)="login()">
                      <nz-spin *ngIf="isLoading" nzSimple [nzIndicator]="indicatorTemplate">
                      </nz-spin>
                      <span *ngIf="!isLoading" id="sign_in">Sign in</span>
                    </button>
                    
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="term-area">
                  <p>
                    Forgot your password?
                    <a [routerLink]="['/forgot']">click here</a>
                  </p>
                </nz-form-item>
              </form>
            </div>
          </div>
          <div nz-col [nzLg]="{ span: 6, offset: 0 }" [nzXs]="{ span: 0, offset: 0 }"></div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #indicatorTemplate>
    <i nz-icon nzType="loading"></i>
  </ng-template>
  