<div nz-row>
  <div nz-col nzSpan="24">
<div class="testimonial_page">
    <section class="HomeBanner">
        <div nz-row>
          <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div class="banner-heading-top">
              <h1>Testimonials</h1>
            </div>
          </div>
        </div>
      </section>


      <section class="testimonials">
        <div class="container">
        <div class="body">
            <img src="./assets/images/quotation-marks.png"  alt="logo"/>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. 
            </p>
            <h2>Adam Smith<span>Baton Rouge, LA</span></h2>
        </div>

        <div class="body">
            <img src="./assets/images/quotation-marks.png"  alt="logo"/>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. 
            </p>
            <h2>Adam Smith<span>Baton Rouge, LA</span></h2>
        </div>

        <div class="body">
            <img src="./assets/images/quotation-marks.png"  alt="logo"/>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. 
            </p>
            <h2>Adam Smith<span>Baton Rouge, LA</span></h2>
        </div>
        <div class="body">
            <img src="./assets/images/quotation-marks.png"  alt="logo"/>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. 
            </p>
            <h2>Adam Smith<span>Baton Rouge, LA</span></h2>
        </div>
      </div>
      </section>
</div>
</div>

  

  