@import './../../../variables.scss';
.ant-menu-horizontal>.ant-menu-item::after{
    display: none   ;
}
.header-top {
   
    .title-page {
      font-size: 18px;
      font-weight: 500;
      color: $dark-text-clr;
    }
  
    background: $white;
    padding: 0px 0px 0px 110px;
    border-bottom: solid 1px #f1f0f0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    .nav-top-right {
      border: none;
      background: transparent;
      line-height: 60px;
      float: right;
      div.account-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: solid 1px #e5e5e5;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        margin-right: 8px;
        background: $white;
  
        span {
          font-size: 12px;
          color: $primary;
          display: block;
          line-height: 32px;
          font-weight: 500;
        }
        .user-icon {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 0px;
          display: block;
        }
      }
  
      li {
        position: relative;
        vertical-align: middle;
        border: none;
        top: 0px;
        margin: 0px;
        padding: 0px 15px;
        line-height: 60px;
       
        a {
          font-size: 16px;
          font-weight: 500;
          color: $dark-text-clr;
          display: block;
          line-height: 60px;
          position: relative;
  
          svg {
            line-height: 60px;
            display: block;
            fill: $primary;
            height: 60px;
          }
  
          .dot {
            position: absolute;
            background-color: $red;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            display: block;
            top: 18px;
            right: 2px;
          }
        }
  
        &:hover {
          color: #ccc;
  
          a {
            &:before {
              opacity: 1;
            }
          }
        }
  
        &:focus {
          color: #ccc;
          outline: none;
          box-shadow: none;
  
          a {
            &:before {
              opacity: 1;
            }
          }
        }
  
        &:active {
          color: #ccc;
          background: transparent;
  
          a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
  
      li.ant-menu-item.ant-menu-item-selected {
        background: transparent !important;
        color: $white !important;
        outline: none;
        box-shadow: none;
        border-bottom-color: $white;
  
        a {
          &:before {
            opacity: 1;
          }
        }
  
        &:focus {
          background: transparent !important;
          color: $primary !important;
          outline: none;
          box-shadow: none;
  
          a {
            &:before {
              opacity: 1;
            }
          }
        }
  
        &:active {
          background: transparent !important;
          color: $primary !important;
          outline: none;
          box-shadow: none;
  
          a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
  
      li:last-child {
        padding-left: 45px;
  
        &:hover {
          border-color: transparent;
        }
  
        &:focus {
          outline: none;
          box-shadow: none;
        }
  
        &:active {
          border-color: transparent;
        }
  
        &:last-child::before {
          height: 24px;
          width: 1px;
          position: absolute;
          left: 15px;
          top: 17px;
          background: #d8d8d8;
          content: '';
        }
      }
  
      .ant-btn {
        font-weight: 500;
        font-size: 14px;
        color: $dark-text-clr;
        line-height: 32px;
        margin: 14px 0px;
  
        span {
          line-height: 30px;
        }
  
        &:hover {
          color: $primary;
          border-color: $primary;
        }
  
        &:focus {
          outline: none;
          box-shadow: none;
        }
  
        &:active {
          border-color: $primary;
        }
      }

    }
  }

  .nav-dropdown.ant-dropdown-menu {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0px;
  
    li {
      border-top: 1px solid #efefef;
      padding: 0px;
  
      a {
        color: $primary;
        font-weight: 400;
        font-size: 16px;
        display: block;
        text-align: center;
        padding: 12px;
        margin: 0px;
  
        &:active {
          color: $primary;
        }
  
        &:focus {
          color: $primary;
        }
  
        &:active {
          color: $primary;
        }
      }
    }
  
    li:first-child {
      border-top: none;
    }
  
    li.ant-dropdown-menu-item-selected {
      a {
        background: transparent !important;
        color: $primary !important;
      }
    }
  }